<section class="home__container">
  <!--   <div class="right-float-icon">
    <button (click)="toggleLocationModal()">
      <img src="assets/img/location-sign.svg" width="30" height="30" />
    </button>
  </div>

  <div class="left-float-icon">
    <button (click)="goToSearcher()">
      <img src="assets/img/back-arrow-icon.svg" width="30" height="30" />
    </button>
  </div> -->
  <section class="list-container">
    <div style="padding-top: 80px; padding-inline: 12px">
      <mat-chip matTooltip="Al estar en desarrollo puede presentar errores"> Funcionalidad BETA </mat-chip>
    </div>

    <section class="list" *ngIf="productsList.length > 0">
      <!--     <div class="card">
        <ul>
          <li (click)="deleteItem(item)" *ngFor="let item of productsList">{{ item.nombre }}</li>
        </ul>
      </div>
    -->

      <div class="card-products">
        <div *ngFor="let product of productsList">
          <div class="card-product">
            <div class="card-image">
              <img
                (error)="errorHandler($event)"
                [src]="'https://imagenes.preciosclaros.gob.ar/productos/' + product.id + '.jpg'"
              />
            </div>
            <div class="card__name">
              {{ product.nombre }}
              <div class="card__presentation">
                Presentacion: <span class="card__size">{{ product.presentacion }}</span>
              </div>
            </div>
            <div class="card__buttons">
              <button mat-fab class="card__buttons-delete" [disabled]="loading" (click)="deleteItem(product)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <button
        [disabled]="loading"
        mat-raised-button
        color="basic"
        (click)="searchPrices()"
        *ngIf="productsList.length > 0"
      >
        ¿Donde compro?
      </button>
    </section>

    <section class="list">
      <div class="card">
        <div *ngFor="let option of results">
          <article class="item" *ngIf="option.totalPrice && !loading">
            <strong> Gastarias: ${{ option.totalPrice | number : '1.2-2' }}</strong>
            <br />
            En: {{ option.sucursal.banderaDescripcion }} de {{ option.sucursal.direccion }}
          </article>
        </div>

        <div class="card__empty" *ngIf="(!results || results.length == 0) && !loading">
          <h1 *ngIf="productsList.length != 0">¡Comienza la busqueda!</h1>
          <p *ngIf="productsList.length !== 0">Pulsa el botón para buscar el supermercado mas barato para tu compra</p>
          <button
            *ngIf="productsList.length != 0"
            [disabled]="loading"
            (click)="searchPrices()"
            color="basic"
            mat-raised-button
          >
            Buscar el mejor precio
          </button>

          <h1 *ngIf="productsList.length == 0">Carrito vacío</h1>
          <p *ngIf="productsList.length == 0">Parece que no agregaste ningun producto aún</p>
          <button *ngIf="productsList.length == 0" (click)="goToSearcher()" color="basic" mat-raised-button>
            Ir al buscador
          </button>
        </div>

        <div class="card__error" *ngIf="apiError && results.length == 0 && !loading">
          <p>Parece que el servicio de precios no esta disponible o no hay algun producto.</p>

          <p>Vuelve a intentar mas tarde</p>
        </div>

        <div class="card__loader">
          <section class="loader-container" *ngIf="loading">
            <ngx-skeleton-loader
              appearance="line"
              animation="pulse"
              [theme]="{ height: '50px', width: '100%' }"
            ></ngx-skeleton-loader>

            <ngx-skeleton-loader
              appearance="line"
              animation="pulse"
              [theme]="{ height: '50px', width: '100%' }"
            ></ngx-skeleton-loader>

            <ngx-skeleton-loader
              appearance="line"
              animation="pulse"
              [theme]="{ height: '50px', width: '100%' }"
            ></ngx-skeleton-loader>

            <ngx-skeleton-loader
              appearance="line"
              animation="pulse"
              [theme]="{ height: '50px', width: '100%' }"
            ></ngx-skeleton-loader>

            <ngx-skeleton-loader
              appearance="line"
              animation="pulse"
              [theme]="{ height: '50px', width: '100%' }"
            ></ngx-skeleton-loader>
          </section>
        </div>
      </div>
    </section>
  </section>
  <app-modal-location *ngIf="showLocationModal" (closeModal)="toggleLocationModal()"></app-modal-location>
</section>
