.home {
  display: flex;
  justify-content: center;
  &__container {
    background-image: url('../../assets/img/bg-cart.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }

  &__card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.card-product {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  gap: 15px;
  width: 100%;
  .card-image {
    img {
      width: 85px;
      height: 85px;
    }
  }
    .card__name {
      padding: 5px;
      width: 100%;
      font-weight: 600;
      color: rgb(88, 87, 87);
      font-size: 1rem;
    }

    .card__presentation {
      color: gray;
      width: 100%;
      font-weight: 400;
      font-size: 14px;
      padding-top: 10px;

    }

    .card__buttons{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;
    }
    .card__buttons-delete {

      margin-right: 10px;
      background-color: rgb(214, 76, 76);
    }
}

.right-float-icon {
  right: 0;
  margin-right: 10px;
  margin-top: 20px;
  z-index: 1;
  position: absolute;
  button {
    border: none;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
    padding: 5px;
    &:hover {
      background-color: #f2f2f2;
      color: black;
      box-shadow: 0 1px 10px rgba(212, 212, 215, 0.28);
    }
  }
}

.left-float-icon {
  left: 0;
  margin-left: 10px;
  margin-top: 20px;
  z-index: 1;
  position: absolute;
  button {
    border: none;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
    padding: 5px;
    &:hover {
      background-color: #f2f2f2;
      color: black;
      box-shadow: 0 1px 10px rgba(212, 212, 215, 0.28);
    }
  }
}

.list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__button-go{
  background-color: rgb(63, 63, 63);
  color: white;
width: 200px;
}

.card-products {
  background: white;
  margin-top: 10px;
  padding: 15px;
  border-radius: 8px;
  gap: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card {
  background: white;
  margin-top: 10px;
  padding: 15px;
  border-radius: 8px;
  li {
    font-size: 1.2rem;
  }
}
button {
  border: none;
  border-radius: 30px;
  background-color: white;
  color: black;
  box-shadow: 0 1px 10px rgba(212, 212, 215, 0.28);
  cursor: pointer;
  padding: 5px;
  &:hover {
    background-color: #f2f2f2;
  }
}

.item {
  background: rgb(255 255 255);
  box-shadow: 0 1px 12px rgb(39 39 39 / 28%);
  padding: 5px;
  margin-bottom: 10px;
}

.loader-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  justify-content: center;
}

.card__empty {
  text-align: center;
}
