<div class="modal">
  <div class="modal-content">
    <h2 class="title">Configurar ubicación:</h2>
    <div class="location">
      <button class="location-button" (click)="getLocalAddress()" *ngIf="!error">
        Detectar ubicación
        <div style="width: 20px">
          <svg
            fill="#000000"
            version="1.1"
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 395.71 395.71"
            xml:space="preserve"
          >
            <g>
              <path
                d="M197.849,0C122.131,0,60.531,61.609,60.531,137.329c0,72.887,124.591,243.177,129.896,250.388l4.951,6.738
           c0.579,0.792,1.501,1.255,2.471,1.255c0.985,0,1.901-0.463,2.486-1.255l4.948-6.738c5.308-7.211,129.896-177.501,129.896-250.388
           C335.179,61.609,273.569,0,197.849,0z M197.849,88.138c27.13,0,49.191,22.062,49.191,49.191c0,27.115-22.062,49.191-49.191,49.191
           c-27.114,0-49.191-22.076-49.191-49.191C148.658,110.2,170.734,88.138,197.849,88.138z"
              />
            </g>
          </svg>
        </div>
      </button>
    </div>
    <hr>
    <div class="navbar">
      <span>Ubicación personalizada:</span>
      <div class="navbar__location">
        <div class="searchbar">

              <input
                type="text"
                class="searchbar-input"
                maxlength="2048"
                autocomplete="off"
                [(ngModel)]="address"
                (keydown.enter)="getAddress()"
                placeholder="Calle 1234, Barrio..."
              />
              <button style="color: black !important;" [disabled]="!address" mat-raised-button color="accent" class="searchbar-button" (click)="getAddress()">Buscar</button>
            </div>


        <div class="address">
          @if(addressText){
          <span>Ubicación actual:</span>
          }
          @if(addressText) {
          <div class="address-text" [title]="addressText">{{ addressText | slice : 0 : 45 }}...</div>

          } @else {
          <span class="loader_container" *ngIf="!error">
            <div class="loader"></div>
          </span>

          }
        </div>
      </div>
    </div>

    <button class="apply-button" (click)="close()">Cerrar</button>
  </div>
</div>
