<div class="modal">
  <div class="modal-content">
    <h2 class="title">Tu ubicación:</h2>
    <div class="navbar">
      <div class="navbar__location">
        <div class="searchbar">
          <div class="searchbar-wrapper">
            <div class="searchbar-left">
              <div (click)="getAddress()" class="search-icon-wrapper">
                <span class="search-icon searchbar-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
                    ></path>
                  </svg>
                </span>
              </div>
            </div>

            <div class="searchbar-center">
              <div class="searchbar-input-spacer"></div>

              <input
                type="text"
                class="searchbar-input"
                maxlength="2048"
                autocomplete="off"
                [(ngModel)]="address"
                (keyup.enter)="getAddress()"
                placeholder="Calle 1234, Barrio..."
              />
            </div>
          </div>
        </div>

        <div>
          @if(addressText){
          <div class="address-text" [title]="addressText">{{ addressText | slice : 0 : 45 }}...</div>

          } @else {
          <span class="loader_container">
            <div class="loader"></div>
          </span>

          }
        </div>
      </div>
    </div>

    <button class="apply-button" (click)="close()">Cerrar</button>
  </div>
</div>
