.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  background-color: var(--secondary-color);
  color: white;
  padding: 25px;
  border-radius: 4px;
  width: 580px;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #000000;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.title {
  text-align: center;
  padding: 10px;
}

.loader_container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.address-text {
  padding: 25px;
  font-size: 1.2rem;
  font-weight: 500;
}

.apply-button {
  cursor: pointer;
  background-color: #b8bc8e;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 2rem;
  &:hover {
    box-shadow: 0 1px 10px rgba(15, 15, 15, 0.28);
  }
}

.location {
  display: flex;
  justify-content: center;
  gap: 12px;
  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #b8bc8e;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 2rem;
    &:hover {
      background-color: rgb(99, 209, 145);
      transition: all 0.2s ease-in-out;
      box-shadow: 0 1px 10px rgba(15, 15, 15, 0.28);
    }
  }
}

.navbar {
  padding: 10px;
  span {
    font-weight: 450;
  }
  &__location {
    width: 100%;
    .searchbar {
      width: 100%;
      margin-top: 5px;
      display: inline-flex;
      gap: 15px;
      justify-content: center;

      &-input {
        width: 100%;
        padding: 5px;
        border: 1px solid #dfe1e5;
        background-color: white;
      }

      &-button {
        padding: 5px;
        border: 1px solid #dfe1e5;
        background-color: white;
        cursor: pointer;
      }
    }
  }
}

.address {
  padding: 2px;
  margin-top: 17px;
}


@media screen and (max-width: 600px) {
  .modal-content {
    width: 350px;
  }

}
