<section class="details__container">
  <div class="left-float-icon">
    <button (click)="goBack()">
      <img src="assets/img/back-arrow-icon.svg" width="30" height="30" />
    </button>
  </div>

  <ng-container *ngIf="detail?.producto">
    <h3 class="details__title">{{ detail.producto?.nombre | titlecase }}</h3>
    <div class="details__container">
      <!-- <div class="buttons"><button (click)="goToMoreCheap()">Ver el mas barato</button></div> -->
      <div *ngFor="let sucursal of detail.sucursales">
        <div
          [id]="sucursal.id"
          class="card"
          *ngIf="sucursal.message != 'La sucursal no contiene el producto.' && sucursal.sucursalTipo != 'Mayorista'"
        >
          <div class="card-img">
            <img
              [src]="
                'https://imagenes.preciosclaros.gob.ar/comercios/' +
                sucursal.comercioId +
                '-' +
                sucursal.banderaId +
                '.jpg'
              "
              alt=""
            />
          </div>
          <div class="card__place">{{ sucursal.banderaDescripcion }}</div>
          <div class="card__adress">{{ sucursal.direccion }}</div>
          <div>{{ sucursal.distanciaDescripcion }}</div>
          <div class="card__price">${{ sucursal.preciosProducto?.precioLista }}</div>
          <div>
            <a
              class="card__link"
              target="_blank"
              [href]="
                'https://www.google.com/maps/search/?api=1&query=' + sucursal.direccion + ',' + sucursal.localidad
              "
            >
              <svg class="svgIcon" viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm50.7-186.9L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z"
                ></path>
              </svg>
              ¿Como llegar?
            </a>

          </div>
        </div>
      </div>
    </div>
  </ng-container>
</section>
