<div class="card">
  <div class="card__buttons">
    <button color="basic" mat-raised-button class="card__link-detail" (click)="goToDetail(product)">
      <div style="color: white">Ver precios</div>
    </button>
  </div>

  <div class="card-image">
    <img
      (error)="errorHandler($event)"
      [src]="'https://imagenes.preciosclaros.gob.ar/productos/' + product.id + '.jpg'"
    />
  </div>

  <div class="card__price">${{ product.precioMin }} - ${{ product.precioMax }}</div>
  <div class="card__name">
    {{ product.nombre }}
    <div class="card__presentation">
      Presentacion: <span class="card__size">{{ product.presentacion }}</span>
    </div>

    <div class="card__buttons" >
      <button *ngIf="!itemInCart(product)" class="card__button-add" mat-fab extended color="basic" (click)="addToCart(product)">
        <mat-icon>add</mat-icon>
        Agregar al carrito
      </button>


      <button *ngIf="itemInCart(product)" class="card__button-add" mat-fab extended color="warn" (click)="removeFromCart(product)">
        <mat-icon>remove</mat-icon>
        Quitar del carrito
      </button>
      </div>
  </div>
</div>
