<!-- <article (click)="goToDetail(product)" class="card">
  <img
    (error)="errorHandler($event)"
    [src]="'https://imagenes.preciosclaros.gob.ar/productos/' + product.id + '.jpg'"
  />

  <div class="card__title">{{ product.nombre }}</div>

  <div class="card__presentation">Presentacion: {{ product.presentacion }}</div>
  <div class="card__price">  ${{ product.precioMin }} - ${{product.precioMax}} </div>
</article> -->


<div class="card" (click)="goToDetail(product)">
  <div class="card-image">
    <img
    (error)="errorHandler($event)"
    [src]="'https://imagenes.preciosclaros.gob.ar/productos/' + product.id + '.jpg'"
  />
  </div>
  <div class="category">  ${{ product.precioMin }} - ${{product.precioMax}} </div>
  <div class="heading"> {{ product.nombre }}
      <div class="author"> Presentacion:  <span class="name">{{ product.presentacion }}</span> </div>
  </div>
</div>
