<section class="home__container">

  <div class="left-float-icon">
    <button (click)="goToList()">
      <img src="assets/img/list-svgrepo-com.svg" width="30" height="30" />
    </button>
  </div>

  <div class="right-float-icon">
    <button (click)="toggleLocationModal()">
      <img src="assets/img/location-sign.svg" width="30" height="30" />

    </button>
  </div>

  <article class="home__card">
    <app-input-searcher (searchEvent)="search($event)"></app-input-searcher>
  </article>

  <section class="loader-container" *ngIf="loading && !results">
    <div class="loader"></div>
  </section>

  <section *ngIf="results && !loading">
    <div class="searcher__container">
      <div *ngFor="let product of results.productos">
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>
  </section>
</section>

<section class="api-error">
  <div *ngIf="apiError">
    <h3>Error de servicio</h3>
  </div>
</section>

<app-modal-location *ngIf="showLocationModal" (closeModal)="toggleLocationModal()"></app-modal-location>
