<section class="home__container">
  <div class="right-float-icon">
    <button (click)="toggleLocationModal()">
      <img src="assets/img/location-sign.svg" width="30" height="30" />
    </button>
  </div>

  <div class="left-float-icon" *ngIf="results">
    <button (click)="showInfo()">
   <div>
    <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="Warning / Help">
      <path id="Vector" d="M8.19531 8.76498C8.42304 8.06326 8.84053 7.43829 9.40137 6.95899C9.96221 6.47968 10.6444 6.16501 11.373 6.0494C12.1017 5.9338 12.8486 6.02202 13.5303 6.3042C14.2119 6.58637 14.8016 7.05166 15.2354 7.64844C15.6691 8.24521 15.9295 8.95008 15.9875 9.68554C16.0455 10.421 15.8985 11.1581 15.5636 11.8154C15.2287 12.4728 14.7192 13.0251 14.0901 13.4106C13.4611 13.7961 12.7377 14.0002 12 14.0002V14.9998M12.0498 19V19.1L11.9502 19.1002V19H12.0498Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </g>
      </svg>
   </div>
    </button>
  </div>

  <article class="home__card">
    <app-input-searcher [searchValue]="searchValue" (searchEvent)="search($event)"></app-input-searcher>
    <span class="home__card__address">
      @if(addressText){ Ubicación: {{ addressText | slice : 0 : 26 }}... } @else {
      <ngx-skeleton-loader
        appearance="line"
        animation="pulse"
        [theme]="{ height: '15px', width: '250px' }"
      ></ngx-skeleton-loader>
      }
    </span>
  </article>

  <section class="loader-container" *ngIf="loading && !results">
    <div class="loader"></div>
  </section>

  <section *ngIf="results && !loading">
    <div class="searcher__container">
      <div *ngFor="let product of results.productos">
        <app-product-card [searchValue]="searchValue" [product]="product"></app-product-card>
      </div>

      @if(apiError || results.productos.length == 0){
      <div class="api-error">
        <span> Parece que el servicio de precios no esta disponible o el producto no existe. </span>
        <span> Vuelve a intentar mas tarde </span>
      </div>
      }
    </div>
  </section>

  <section *ngIf="!results && apiError">
    <div class="searcher__container">
      <div class="api-error">
        <span>{{locationError}}</span>
          <button class="apply-button" (click)="toggleLocationModal()">Configurar ubicación</button>
      </div>
    </div>
  </section>

  <section class="info" *ngIf="!results && !loading && !apiError">
    <div class="card">
      <h1>¿Que es Donde compro?</h1>
      <p><b>Donde compro</b> es una web desarrollada para buscar el mejor precio cerca de tu ubicación.</p>
      <hr />
      <h1>¿Como uso la web?</h1>
      <p>
        Utiliza la barra de busqueda para buscar productos y ver el precio de los mismos. Asegurate de que la ubicación
        sea la correcta, tambien puedes configurarla con el icono de la derecha en la parte superior
      </p>
      <hr />
      <h1>¿De donde se obtienen los precios?</h1>
      <p>
        Los precios son obtenidos de un servicio del gobierno, llamado Precios Claros, el cual se actualiza todos los
        dias obligatoriamente.
      </p>
      <hr />
      <h1>El servicio no esta disponible</h1>
      <p>
        Si aparece ese error, es probable que se esten actualizando los precios y por lo tanto deja de funcionar, o hay
        un problema tecnico en dicho servicio
      </p>
      <hr />
      <h1>El precio en gondola no coincide con el de la web</h1>
      <p>
        En ese caso podes realizar un reclamo al <a href="tel:0800-666-1518">0800-666-1518</a>, de Lunes a viernes de 9
        a 18hs
      </p>
      <hr />
      <h1>¿Mas preguntas?</h1>
      <p>
        Si tienes mas dudas puedes consultar
        <a href="https://www.preciosclaros.gob.ar/#faq">Preguntas frecuentes SEPA</a>
      </p>
      <!-- <hr />
      <h1>Invitame un Cafecito</h1>
      <p>
        Si queres colaborar con el proyecto, podes hacerlo desde:
        <br>

        <a class="cafecito" href="https://cafecito.app/luciano_s" rel="noopener" target="_blank"
          ><img
            srcset="
              https://cdn.cafecito.app/imgs/buttons/button_5.png       1x,
              https://cdn.cafecito.app/imgs/buttons/button_5_2x.png    2x,
              https://cdn.cafecito.app/imgs/buttons/button_5_3.75x.png 3.75x
            "
            src="https://cdn.cafecito.app/imgs/buttons/button_5.png"
            alt="Invitame un café en cafecito.app"
        /></a>
      </p> -->
    </div>
  </section>
</section>

<app-modal-location *ngIf="showLocationModal" (closeModal)="toggleLocationModal()" [error]="locationError"></app-modal-location>
